.Forecast3Days__container {
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    width: 90%;
    background-color: rgba(207, 207, 207, 0.3);
    border-radius: 10px;
    margin: 5px auto;
}

.Forecast1Day {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Forecast1Day__date {
    padding-left: 25px;
}

.Forecast1Day__img--container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Forecast1Day__img--container>img {
    height: auto;
}

.Forecast1Day__Temp {
    position: relative;
    height: 100%;
    width: 50px;
}

.Forecast1Day__Temp>span {
    position: absolute;
    top: -20%;
}

.Forecast1Day__maxTemp {
    padding-right: 30px;
}

.Forecast1Day__minTemp {
    margin-right: 45px;
    color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width:1000px) {
    .Forecast1Day__minTemp {
        margin-right: 35px;

    }

}