.Forecast3Days__container {
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    width: 90%;
    background-color: rgba(192, 192, 192, 0.3);
    ;
    border-radius: 10px;
    margin: 5px auto;
}

.Forecast1Day,
.Forecast3Days__title {
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.Forecast1Day__date,
.Forecast3Days__title--date {
    padding-left: 25px;
    min-width: 120px;
}

.Forecast1Day__img--container,
.Forecast3Days__title--condition {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
}

.Forecast1Day__img--container>img {
    height: auto;
}

.Forecast1Day__Temp {
    position: relative;
    height: 100%;
    width: 50px;
}

.Forecast1Day__Temp>span {
    position: absolute;
    top: -20%;
}

.Forecast1Day__maxTemp,
.Forecast3Days__title--max {
    padding-right: 30px;
    min-width: 80px;
}

.Forecast1Day__minTemp,
.Forecast3Days__title--min {
    margin-right: 45px;
    color: rgba(255, 255, 255, 0.9);
    min-width: 80px;
}

@media screen and (max-width:1000px) {
    .Forecast1Day__minTemp {
        margin-right: 35px;

    }

}

@media screen and (max-width: 430px) {

    .Forecast1Day__date,
    .Forecast3Days__title--date {
        padding-left: 0px;
    }

    .Forecast1Day__maxTemp,
    .Forecast3Days__title--max {
        padding-right: 0px;
        height: fit-content;
        width: fit-content;
    }

    .Forecast1Day__minTemp {
        height: fit-content;
        width: fit-content;
        margin-right: 0;
    }
}