.DetailPage__headerContainer {
    position: relative;
    height: auto;
    width: 100%;
    font-weight: 200;
    height: 50vh;
}

.DetailPage__header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4)
}

.degreeContainer {
    display: flex;
    position: relative;
    margin: 0 10px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.degreeF {
    font-size: 60px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.degreeContainer>div {
    position: absolute;
    top: -25%;
    right: -25%;
    transform: scale(0.8);
}

.degreeF>div {
    right: -45%;
}

.otherDegree {
    display: flex;
    justify-content: center;
}

.backBtn {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 2px;
    left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.4s;
}

.backBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}