* {
  margin: 0;
}

body {
  color: #fff;
  background-color: rgb(0, 0, 0);

}

.page {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
}


.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  transition: opacity 400ms linear 150ms;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms linear 150ms;
}

.fade-exit {
  opacity: 1;
  transition: all 400ms linear;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all 400ms linear 150ms;
}