.Forecast3Days_container{
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgb(214, 214, 214);
    font-weight: bold;
    font-size: 18px;
}
.Forecast1Day{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Forecast1Day_date{
    padding-left: 25px;
}
.Forecast1Day_img_container{
    flex: 1;
    display: flex;
justify-content: center;
align-items: center;
}
.Forecast1Day_img_container>img{
    height: auto;
}
.maxTemp{
    padding-right: 30px;
}
.minTemp{
    margin-right: 45px;
}