.DetailPage__headerContainer{
    position: relative;
    height: 50vh;
    width: 100%;
    font-weight: 200;
}
.DetailPage__header{
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.degreeContainer{
    display: flex;
    position: relative;
    margin: 0 10px;
}
.degreeF{
    font-size: 60px;
}

.degreeContainer>div{
    position: absolute;
    top: -25%;
    right: -25%;
    transform: scale(0.8);
}
.degreeF>div{
    right: 10%;
}
.otherDegree{
    display: flex;
}
.DetailPage__header__location{
    position: fixed;
    top: -10;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.DetailPage__header__degree{
    margin-top: 50px;
}