.HourTempContainer{
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; /*hide scroll bar for chrome*/
    scrollbar-width: none; /*hide scroll bar for firefox*/
    padding: 5px 0;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    font-size: 16px;
}
.hourContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
}
@media only screen and (max-width: 1000px) {
    .hourContainer>img{
    height: 40px;
}
}
